<div class="row">
  <div class="user_show col-md-3 offset-md-4">
    <div class="user_show_info">
      <div>ユーザー名</div>
      <div><%= @user.name %></div>
    </div>
    <div class="user_show_info">
      <div>メールアドレス</div>
      <div><%= @user.email %></div>
    </div>
    <% if (@user==current_user) || current_user.admin? %>
      <%= link_to "プロフィール編集" ,edit_user_path(@user) , class:"btn btn-light rounded-pill"%>
    <% end %>
  </div>
</div>
<div class="contents">
  <div class="user_show_tab">
    <div class="tablist">投稿</div>
    <div class="tablist">いいね</div>
  </div>
</div>
<div class="contents">
  <div class="all_posts">
    <% @posts.each do |post|%>
      <div class="post_content">
        <div>
          <div><%= post.title%></div>
          <div><%= post.content%></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
