<div class="row">
  <div class="user_show col-md-3 offset-md-4">
    <div class="user_show_info">
      <div>ユーザー名</div>
      <div><%= @user.name %></div>
    </div>
    <div class="user_show_info">
      <div>メールアドレス</div>
      <div><%= @user.email %></div>
    </div>
    <%= link_to "編集" ,edit_user_path(@user) , class:"btn btn-primary"%>
  </div>
</div>
<div class="contents">
  <div class="all_posts">
    <% @posts.each do |post|%>
      <div class="post_content">
        <div>
          <div><%= post.title%></div>
          <div><%= post.content%></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
