<!DOCTYPE html>
<html>
  <head>
    <title>FaqApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
     <div class="header_left header_item"><%= link_to("FAQ_APP","/")%></div>
     <div class="header_right">

      <li class="header_item"><%= link_to("新規投稿","#")%></li>
     
      <li class="header_item"><%= link_to("ログイン","#")%></li>
      <li class="header_item"><%= link_to("新規登録",new_user_path)%></li>

     </div>
    </div>
    <%= yield %>
    <%# 開発環境のみ表示 Rails.envは環境の論理値を取る %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
